name: Update tables

on: [push]

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Run check of pwd
      run: pwd
    - name: Run check of what's in pwd
      run: ls
    - name: switching from HTTPS to SSH
      run: git remote set-url origin ${{ secrets.ssh }}
    - name: check for changes
      run: git status
    - name: install packages
      run: sudo apt-get update && sudo apt-get install -y libjansson-dev
    - name: convert table
      run: cd converter && make && ./cvt
    - name: configure git
      run: git config user.email "kruglovasobakalnip.su@gmail.com" && git config --global user.name "негр да"
    - name: stage changed files
      run: git add .
    - name: commit changed files
      run: git commit -m "Auto updating configs"
    - name: fetch from master
      run: git fetch origin master
    - name: push code to master
      run: git push origin HEAD:master
